@import 'config';
@import 'darkmode';

@mixin buttons {
    border-radius: 5px;
    border: none;
    box-shadow: rgb(0 0 0 / 55%) 0px 2px 10px;
    width: 90px;
    height: 23px;
    background-color: $very-light-gray-light-mode-bg;
    font-size: 15px;
}

@mixin inputAndSelect {
    width: 300px;
    height: 45px;
    font-family: 'Nunito Sans', sans-serif;
    box-shadow: rgb(0 0 0 / 42%) 0px 0px 7px;
    border: 0 solid #ccc;
    border-radius: 5px;
    margin: 20px 150px 20px 150px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header {
    width: 100%;
    box-shadow: rgb(0 0 0 / 42%) 0px 0px 7px;
    background-color: $white-dark-mode-text-light-mode-elements;
    ul {
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 20px 200px 20px 200px;
        h1 > a {
            color: rgb(26, 24, 24);
            text-decoration: none;
        }
    }
}

.container {
    display: grid;
    gap: 50px;
    grid-template-areas:
    'myArea myArea myArea myArea'
    '. . . .'
    '. . . .';
    grid-template-columns: repeat(4, 230px);
    grid-template-rows: 280px 280px;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    background-color: $very-light-gray-light-mode-bg;
}

#app {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    flex-direction: column;
}

.country-inputs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;

    input {
        @include inputAndSelect();
        padding: 10px 10px 10px 45px;
        background-image: url(../public/135-search.svg);
        background-repeat: no-repeat;
        background-position: center left 1rem;
        width: 37vh;
    }

    select {
        @include inputAndSelect();
        padding: 10px 20px 10px 20px;
        width: 180px
    }
}

.data__box {
    box-shadow: rgb(0 0 0 / 42%) 0px 0px 20px;
    border-radius: 5px;
}

.data__box--flag {
    float: left;
    width:  230px;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
    margin: 0 0 12px 0;
}

.data__box--details, .data__box--name {
    margin: 5px 12px 5px 12px;
    font-size: 14px;
}

.data__box--name {
    text-align: center;
    font-weight: 800;
    font-size: 16px;
}

.details__flag {
    float: left;
    width: 530px;
    height: 400px;
    object-fit: cover;
}

.details__container {
    display: block;
    margin: 20px 0 0 0;
}

.details__container--flag {
    margin: 20px;

    button {
        @include buttons;
        width: 118px;
        height: 37px;
        .back__button {
            text-decoration: none;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #000000;
        }
    }
}

span {
    font-weight: 600;
}

.details__container--data {
    display: flex;
    height: 56vh;
    align-items: center;
    margin: 20px;

    .details__data--name {
        font-size: 30px;
        font-weight: 800;
        margin: 0 0 20px 8px;
    }

    .details__data--data {
        display: flex;
        font-size: 13px;
        .details__data {
            font-size: 15px;
            margin: 8px;
        }
    }

    .details__data--right {
        margin: 0 50px 0 80px;
        max-width: 450px;

        .details__data--border {
            margin: 35px 0 0 8px;

            button {
                @include buttons;
                margin: 2px;
            }
        }
    }
}

@import 'mobile';