@import 'config';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 200px 0 200px;
}

.header {
    width: 100%;
}

.container {
    display: grid;
    gap: 50px;
    grid-template-areas:
    'myArea myArea myArea myArea'
    '. . . .'
    '. . . .';
    grid-template-columns: repeat(4, 230px);
    grid-template-rows: 280px 280px;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    background-color: $very-light-gray-light-mode-bg;
}

#app {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    flex-direction: column;
}

.country-inputs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
}

input, select {
    margin: 20px 200px 20px 200px;
}

a {
    text-decoration: none;
}

.data__box {
    border: solid 1px;
    border-color: black;
}

.data__box--flag {
    float: left;
    width:  228px;
    height: 150px;
    object-fit: cover;
}